.containerJokes {
    position: absolute; /* or absolute */
    top: 20%;
    left: 33%;
    right: 33%;
}
.scoreBtn {
    background: none;
    border: 0;
    transition: transform .2s;
}
.scoreBtn:hover {
    transform: scale(1.5);
}